<p id="notice"><%= notice %></p>

<h1>Photos</h1>

<center>
  <% @photos.each do |photo| %>
  <div class="photo-box">
    <%= image_tag photo.image(:large) if photo.image %>
    <h4><%= photo.caption %></h4>
    <h4>Posted by <%= photo.user.email %></h4>
  </div>
 <% end %>
</center>


<br>

<%= link_to 'New Photo', new_photo_path %>
